* {margin:0px;padding:0px;border:0px;font-family: "Microsoft YaHei", "\u5b8b\u4f53", arial, helvetica, sans-serif, tahoma;}
.main{position:absolute;top:50%;left:50%;}
.demo-three-nav-content{border-radius: 16px;}
.demo-three-nav-item{border-radius:50%;text-align:center;padding:7px 0px;background:#f7f7f7;margin-left: 8px;margin-right:8px;}
.demo-three-nav-left{border-radius: 15px 0px 0px 15px;margin-right: 8px;}
.demo-three-nav-right{border-radius: 0px 15px 15px 0px;margin-left: 8px;}
.demo-three-nav-btn{padding:6px 0px;text-align:center;border: 1px solid #f7f7f7;}
.demo-three-nav-active-btn{color:#fff;background:blue;}
.demo-three-nav-disable-btn{background:#f7f7f7;}
.status-one{background:blue;color:#fff;}
.status-two{background:red;color:#fff;}
.status-three{background:green;color:#fff;}
.demo-three-selected{background:blue;color:#fff;}
