* {margin:0px;padding:0px;border:0px;font-family: "Microsoft YaHei", "\u5b8b\u4f53", arial, helvetica, sans-serif, tahoma;}
.main{margin-top: 200px;margin-left:200px}
.btn {padding: 5px 0px;border:1px solid #d1d1d1;text-align:center;}
.active-btn {color:#3a86d2;}
.disable-btn {color:#d2d2d2;}
.item {padding: 5px 0px;border-top: 1px solid #d1d1d1; border-bottom: 1px solid #d1d1d1;color:#3a86d2;text-align:center;}
.selected {background: #3a86d2;color:#fff;}
